.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1024px;
  margin: 0 auto;
  width: 100%;

  padding: 24px 20px;
}

.nav a {
  color: #8257e5;
}

.content {
  max-width: 736px;
  margin: 0 auto;
  width: 100%;

  padding: 24px 20px;
}

.content h2,
.content h4,
.content p {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1024px;
  margin: 0 auto;
  width: 100%;

  padding: 24px 20px;
}

.footer a {
  padding: 1rem 2rem;
  border-radius: 6px;
  background: #202024;

  color: #996dff;
  text-decoration: none;
}
